Repository asifkd012020/open-itg-aws_runbooks, changes with the owners that CODEOWNERS names for each.
All owners: @open-itg/aws_playbook_core, @drcpcg, @shnccg, @chppcg, @dpl-cg

Added overiew and basic controls
  forecast/Runbook.md
Owners: @open-itg/aws_playbook_core

Updated Organization
  forecast/Runbook.md
Owners: @open-itg/aws_playbook_core

Updated ToC
  forecast/Runbook.md
Owners: @open-itg/aws_playbook_core

Updated json
  forecast/mapping.json
Owners: @open-itg/aws_playbook_core

Comments on current runbook
  dynamodb/RUNBOOK.md
  dynamodb/mapping.json
Owners: @open-itg/aws_playbook_core, @dpl-cg

Updates to EBS Runbook
  marketplace/Runbook.md
  marketplace/mapping.json
Owners: @open-itg/aws_playbook_core

Updates to EBS Runbook
  docs/img/Operations.png
  marketplace/Runbook.md
Owners: @open-itg/aws_playbook_core

Updates to EBS Runbook
  ebs/Runbook.md
Owners: @open-itg/aws_playbook_core

Updates to EBS Runbook
  ebs/Runbook.md
Owners: @open-itg/aws_playbook_core

Updates to Private Marketplace Runbook
  docs/img/marketplace/example.png
  marketplace/Runbook.md
Owners: @open-itg/aws_playbook_core

Updates to Private Marketplace Runbook
  marketplace/Runbook.md
  marketplace/mapping.json
Owners: @open-itg/aws_playbook_core

Mass Deletion to make reading easier
  dynamodb/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @dpl-cg

Updates to Private Marketplace Runbook
  PULL_REQUEST_TEMPLATE.md
  marketplace/Runbook.md
Owners: @open-itg/aws_playbook_core

Organized and set template
  dynamodb/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @dpl-cg

Updated Runbook Templates
  PULL_REQUEST_TEMPLATE.md
  template/AZR_PS_RUNBOOK.md
Owners: @open-itg/aws_playbook_core

95% finished with Runbook
  dynamodb/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @dpl-cg

updated mapping file
  dynamodb/mapping.json
Owners: @open-itg/aws_playbook_core, @dpl-cg

Updates to Private Marketplace Runbook
  marketplace/Runbook.md
  marketplace/mapping.json
Owners: @open-itg/aws_playbook_core

rough draft of Azure Container Registry runbook
  azure/AzureContainerRegistry/Runbook.md
  azure/AzureContainerRegistry/mapping.json
  azure/docs/img/acr/acr-encryption.png
  azure/docs/img/acr/disable-public-access.png
  azure/docs/img/acr/private-endpoint.png
Owners: @open-itg/aws_playbook_core

update examples
  azure/AzureContainerRegistry/Runbook.md
Owners: @open-itg/aws_playbook_core

shuffle ordering of controls
  azure/AzureContainerRegistry/Runbook.md
Owners: @open-itg/aws_playbook_core

add additional link in resources
  azure/AzureContainerRegistry/Runbook.md
Owners: @open-itg/aws_playbook_core

updateing title name
  azure/AzureContainerRegistry/Runbook.md
Owners: @open-itg/aws_playbook_core

remove backticks from links
  azure/AzureContainerRegistry/Runbook.md
Owners: @open-itg/aws_playbook_core

update mapping.json
  azure/AzureContainerRegistry/Runbook.md
  azure/AzureContainerRegistry/mapping.json
Owners: @open-itg/aws_playbook_core

fix table format
  azure/AzureContainerRegistry/Runbook.md
Owners: @open-itg/aws_playbook_core

[CLSEC-2587] First draft of ECS Runbook review
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Making additional changes
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

Complete Runbook
  dynamodb/RUNBOOK.md
  dynamodb/mapping.json
Owners: @open-itg/aws_playbook_core, @dpl-cg

Fixed 'completed critcal aws services' mapping
  Systems-Manager/RUNBOOK.md
  cloudwatch/Runbook.md
  cloudwatch/mapping.json
  datapipeline/Runbook.md
  datapipeline/mapping.json
  dynamodb/mapping.json
  ecs/RUNBOOK.md
  ecs/mapping.json
  emr/Runbook.md
  emr/mapping.json
  kms/mapping.json
  lambda/mapping.json
  rds/mapping.json
  route53/Runbook.md
  route53/mapping.json
  s3/mapping.json
  vpc/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @dpl-cg, @drcpcg, @chppcg

S3 Branch Test
  s3/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Updates to EBS and Marketplace Runbooks / Mappings
  ebs/Runbook.md
  ebs/mapping.json
  marketplace/Runbook.md
Owners: @open-itg/aws_playbook_core

Updates to EBS and Marketplace Runbooks / Mappings
  marketplace/Runbook.md
Owners: @open-itg/aws_playbook_core

Initial Updates to Lambda Runbook
  lambda/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Initial Updates to Lambda Runbook
  docs/img/lambda/example.png
  lambda/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Foundational Plan
  docs/img/s3/s3.png
  s3/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Finished Operational Practices
  s3/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Removed Old cloudwatch and Cloudtrail section
  s3/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Security Requirements
  s3/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

S3 First draft
  s3/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

CODEOWNERS:

*        @open-itg/aws_playbook_core

# ECS runbook reviewer
/ecs/ @open-itg/aws_playbook_core @drcpcg
# EKS runbook reviewer
/eks/ @open-itg/aws_playbook_core @drcpcg
# ECR playbook reviewer
/ecr @open-itg/aws_playbook_core @drcpcg 
# CodePipeline runbook reviewer
/codepipeline/ @open-itg/aws_playbook_core  @drcpcg
# CodeDeploy runbook reviewer
/codedeploy/ @open-itg/aws_playbook_core  @drcpcg
# CloudFormation runbook reviewer
/codedeformation/ @open-itg/aws_playbook_core  @drcpcg
# EC2 runbook reviewer
/ec2/ @open-itg/aws_playbook_core @shnccg
# EMR runbook reviewer
/emr/ @open-itg/aws_playbook_core @chppcg
# RDS runbook reviewer
/rds/ @open-itg/aws_playbook_core  @dpl-cg
# DynamoDB runbook reviewer
/dynamodb/ @open-itg/aws_playbook_core @dpl-cg
