Repository asifkd012020/open-itg-aws_runbooks, changes with the owners that CODEOWNERS names for each.
All owners: @open-itg/aws_playbook_core, @drcpcg, @shnccg, @chppcg, @dpl-cg

CODEOWNERS:

*        @open-itg/aws_playbook_core

# ECS runbook reviewer
/ecs/ @open-itg/aws_playbook_core @drcpcg
# EKS runbook reviewer
/eks/ @open-itg/aws_playbook_core @drcpcg
# ECR playbook reviewer
/ecr @open-itg/aws_playbook_core @drcpcg 
# CodePipeline runbook reviewer
/codepipeline/ @open-itg/aws_playbook_core  @drcpcg
# CodeDeploy runbook reviewer
/codedeploy/ @open-itg/aws_playbook_core  @drcpcg
# CloudFormation runbook reviewer
/codedeformation/ @open-itg/aws_playbook_core  @drcpcg
# EC2 runbook reviewer
/ec2/ @open-itg/aws_playbook_core @shnccg
# EMR runbook reviewer
/emr/ @open-itg/aws_playbook_core @chppcg
# RDS runbook reviewer
/rds/ @open-itg/aws_playbook_core  @dpl-cg
# DynamoDB runbook reviewer
/dynamodb/ @open-itg/aws_playbook_core @dpl-cg

Initial Redshift Runbook
  redshift/Runbook.md
  redshift/mapping.json
Owners: @open-itg/aws_playbook_core

adding AKS Runbook
  azure/AzureKubernetesService/Runbook.md
  azure/docs/img/aks/privatenetwork.png
Owners: @open-itg/aws_playbook_core

Update Runbook.md
  dms/Runbook.md
Owners: @open-itg/aws_playbook_core

Update Runbook.md
  dms/Runbook.md
Owners: @open-itg/aws_playbook_core

Update Runbook.md
  dms/Runbook.md
Owners: @open-itg/aws_playbook_core

Update Runbook.md
  dms/Runbook.md
Owners: @open-itg/aws_playbook_core

Initial EventBridge Runbook
  docs/img/eventbridge/event_how.png
  eventbridge/Runbook.md
Owners: @open-itg/aws_playbook_core

Initial EventBridge Runbook
  eventbridge/Runbook.md
Owners: @open-itg/aws_playbook_core

Initial EventBridge Runbook
  dynamodb/RUNBOOK.md
  eventbridge/Runbook.md
Owners: @open-itg/aws_playbook_core, @dpl-cg

Initial EventBridge Runbook
  eventbridge/Runbook.md
  sagemaker/Runbook.md
  sagemaker/mapping.json
Owners: @open-itg/aws_playbook_core

Initial EventBridge Runbook
  eventbridge/Runbook.md
Owners: @open-itg/aws_playbook_core

Initial EventBridge Runbook
  eventbridge/Runbook.md
Owners: @open-itg/aws_playbook_core

CG Control Standards Update
  sagemaker/Runbook.md
Owners: @open-itg/aws_playbook_core

CG Control Standards Update
  eventbridge/Runbook.md
  sagemaker/Runbook.md
Owners: @open-itg/aws_playbook_core

Initial EventBridge Runbook
  eventbridge/mapping.json
Owners: @open-itg/aws_playbook_core

Changes to EventBridge Mappings
  eventbridge/mapping.json
Owners: @open-itg/aws_playbook_core

Changes to EventBridge Mappings
  eventbridge/mapping.json
Owners: @open-itg/aws_playbook_core

Azure AKS Runbook Updates
  azure/AzureKubernetesService/Runbook.md
Owners: @open-itg/aws_playbook_core

DMS runbook updated
  dms/Runbook.md
Owners: @open-itg/aws_playbook_core

DMS runbook updated
  dms/Runbook.md
  dms/mapping.json
Owners: @open-itg/aws_playbook_core

DMS runbook updated
  dms/Runbook.md
Owners: @open-itg/aws_playbook_core

DMS runbook updated
  dms/Runbook.md
Owners: @open-itg/aws_playbook_core

DMS runbook updated
  dms/Runbook.md
Owners: @open-itg/aws_playbook_core

DMS runbook updated
  dms/Runbook.md
  dms/mapping.json
Owners: @open-itg/aws_playbook_core

DMS runbook updated
  dms/Runbook.md
  dms/mapping.json
Owners: @open-itg/aws_playbook_core

EC2 runbook updated
  ec2/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @shnccg

EC2 runbook updated
  ec2/mapping.json
Owners: @open-itg/aws_playbook_core, @shnccg

Mapping file updated
  dms/mapping.json
Owners: @open-itg/aws_playbook_core

Azure AKS Runbook Updates
  azure/AzureKubernetesService/Runbook.md
Owners: @open-itg/aws_playbook_core

Initial PHD Runbook
  phd/Runbook.md
Owners: @open-itg/aws_playbook_core

updating mapping.json for AKS
  azure/AzureKubernetesService/Runbook.md
  azure/AzureKubernetesService/mapping.json
Owners: @open-itg/aws_playbook_core

EC2 runbook updated
  ec2/RUNBOOK.md
  ec2/mapping.json
Owners: @open-itg/aws_playbook_core, @shnccg

EC2 runbook updated
  ec2/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @shnccg

EC2 runbook updated
  ec2/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @shnccg

EC2 runbook updated
  ec2/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @shnccg

EC2 runbook updated
  ec2/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @shnccg

Restrict to IP address range
  docs/img/workdocs/search.png
  docs/img/workdocs/wd_account.png
  docs/img/workdocs/wd_account_menu.png
  docs/img/workdocs/wd_admin_panel.png
  docs/img/workdocs/wd_ip_allowlist.png
  docs/img/workdocs/wd_sites.png
  workdocs/Runbook.md
Owners: @open-itg/aws_playbook_core

Restrict IP address range
  workdocs/Runbook.md
Owners: @open-itg/aws_playbook_core

Add comments to some of the incomplete sections
  workdocs/Runbook.md
Owners: @open-itg/aws_playbook_core

EC2 mapping updated
  ec2/mapping.json
Owners: @open-itg/aws_playbook_core, @shnccg
