Repository asifkd012020/open-itg-aws_runbooks, changes with the owners that CODEOWNERS names for each.
All owners: @open-itg/aws_playbook_core, @drcpcg, @shnccg, @chppcg, @dpl-cg

[CLSEC-2587] Adding additional rules and re formatting the vast information into most sensible ones
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Adding additional rules and re formatting the vast information into most sensible ones
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2576] Formatting the doc
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Rewrite the rule IAM Roles for Tasks
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Changes to VPC Endpoint rule
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Fixing typo
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Adding additional rules and recommendations
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Adding the rule
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Adding additional rules
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Removing the content which is not necessary
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Refactoring
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Refactoring
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587]
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Refactoring
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

{CLSEC-2587] Refactor
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Fixing typos
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

Spelling correction
  rosa/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

[CLSEC-2587] Rewrite the rule1
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Refactoring VPC end point service
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Changing the name of the rules
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Refactoring
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Refactoring rule related to secrets manager
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Refactor the rules
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Refactor awslogs rule
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Cleanup
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Fix the control statements
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2578] Cloud trail update
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Fix the VPC log rule
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Refactor
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

Updates to RDS Runbook
  rds/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @dpl-cg

[CLSEC-2587] Improve the runbook
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

Updates to RDS Runbook
  rds/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @dpl-cg

Updates to RDS Runbook
  docs/img/rds/snap_perms.png
  rds/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @dpl-cg

Updates to RDS Runbook
  rds/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @dpl-cg

Updates to RDS Runbook
  docs/img/rds/snap_perms.png
Owners: @open-itg/aws_playbook_core

Updates to RDS Runbook
  rds/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @dpl-cg

Updates to RDS Runbook
  rds/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @dpl-cg

Updates to RDS Runbook
  rds/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @dpl-cg

[CLSEC-2576] Fix issue with control ids and revisit VPC Flow logs rule
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Add additional information for new rules
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

CODEOWNERS:

*        @open-itg/aws_playbook_core

# ECS runbook reviewer
/ecs/ @open-itg/aws_playbook_core @drcpcg
# EKS runbook reviewer
/eks/ @open-itg/aws_playbook_core @drcpcg
# ECR playbook reviewer
/ecr @open-itg/aws_playbook_core @drcpcg 
# CodePipeline runbook reviewer
/codepipeline/ @open-itg/aws_playbook_core  @drcpcg
# CodeDeploy runbook reviewer
/codedeploy/ @open-itg/aws_playbook_core  @drcpcg
# CloudFormation runbook reviewer
/codedeformation/ @open-itg/aws_playbook_core  @drcpcg
# EC2 runbook reviewer
/ec2/ @open-itg/aws_playbook_core @shnccg
# EMR runbook reviewer
/emr/ @open-itg/aws_playbook_core @chppcg
# RDS runbook reviewer
/rds/ @open-itg/aws_playbook_core  @dpl-cg
# DynamoDB runbook reviewer
/dynamodb/ @open-itg/aws_playbook_core @dpl-cg
