Repository asifkd012020/open-itg-aws_runbooks, changes with the owners that CODEOWNERS names for each.
All owners: @open-itg/aws_playbook_core, @drcpcg, @shnccg, @chppcg, @dpl-cg

CODEOWNERS:

*        @open-itg/aws_playbook_core

# ECS runbook reviewer
/ecs/ @open-itg/aws_playbook_core @drcpcg
# EKS runbook reviewer
/eks/ @open-itg/aws_playbook_core @drcpcg
# ECR playbook reviewer
/ecr @open-itg/aws_playbook_core @drcpcg 
# CodePipeline runbook reviewer
/codepipeline/ @open-itg/aws_playbook_core  @drcpcg
# CodeDeploy runbook reviewer
/codedeploy/ @open-itg/aws_playbook_core  @drcpcg
# CloudFormation runbook reviewer
/codedeformation/ @open-itg/aws_playbook_core  @drcpcg
# EC2 runbook reviewer
/ec2/ @open-itg/aws_playbook_core @shnccg
# EMR runbook reviewer
/emr/ @open-itg/aws_playbook_core @chppcg
# RDS runbook reviewer
/rds/ @open-itg/aws_playbook_core  @dpl-cg
# DynamoDB runbook reviewer
/dynamodb/ @open-itg/aws_playbook_core @dpl-cg

Added SageMaker Studio-IDE to the SageMaker runbook
  docs/img/sagemaker/studio.jpg
  sagemaker/Runbook.md
Owners: @open-itg/aws_playbook_core

Added SageMaker Studio-IDE to the SageMaker runbook
  sagemaker/Runbook.md
Owners: @open-itg/aws_playbook_core

Added SageMaker Studio-IDE to the SageMaker runbook
  sagemaker/Runbook.md
Owners: @open-itg/aws_playbook_core

Updated SageMaker Mapping File
  sagemaker/mapping.json
Owners: @open-itg/aws_playbook_core

Update directlink syntax
  docs/img/rosa/rosa-private-cluster.png
  rosa/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

update format
  rosa/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

update syntax
  rosa/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

update syntax
  rosa/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

update syntax
  rosa/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

update syntax
  rosa/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

update syntax
  rosa/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

update syntax
  rosa/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

update syntax
  rosa/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

update syntax
  rosa/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Add detective statement
  rosa/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Update formating
  rosa/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Update formating
  rosa/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Update formating
  rosa/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Add resource links
  rosa/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Update layout to reflect new format
  rosa/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Update layout to reflect new format
  rosa/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

update private cluster 'why'
  rosa/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Add mapping.json file
  rosa/mapping.json
Owners: @open-itg/aws_playbook_core

Add tagging
  rosa/RUNBOOK.md
  rosa/mapping.json
Owners: @open-itg/aws_playbook_core

Update last update date
  rosa/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

upate mapping.json to include aws config rule
  mwaa/mapping.json
Owners: @open-itg/aws_playbook_core

upate mapping.json to include aws config rule
  mwaa/mapping.json
Owners: @open-itg/aws_playbook_core

Minor syntax issues fixed in mapping.json
  ebs/mapping.json
  serverlessrepo/mapping.json
Owners: @open-itg/aws_playbook_core

Added Cloud9 prevent impls
  cloud9/mapping.json
Owners: @open-itg/aws_playbook_core

minor update
  cloud9/mapping.json
Owners: @open-itg/aws_playbook_core

[CLSEC-2587] Formatting according the new run book standards
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Fix the links
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Fix the links
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Fix the links
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Fix the links and seperate the modules
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Fixing links, adding endnotes modules, resources and capital group gloassory
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Chaning the order of the links
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

Upates to RDS Runbook
  IAM/Runbook.md
  IAM/mapping.json
  docs/img/rds/example.png
  rds/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @dpl-cg

Upates to RDS Runbook
  docs/img/rds/example.png
Owners: @open-itg/aws_playbook_core

[CLSEC-2587] Adding more recommendations for security and best practice
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg
