Repository asifkd012020/open-itg-aws_runbooks, changes with the owners that CODEOWNERS names for each.
All owners: @open-itg/aws_playbook_core, @drcpcg, @shnccg, @chppcg, @dpl-cg

Update Runbook.md
  emr/Runbook.md
Owners: @open-itg/aws_playbook_core, @chppcg

Updated with new Glossary
  ec2/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @shnccg

emr/RUNBOOK.md
  RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Update and rename RUNBOOK.md to ElastiCache/RUNBOOK.md
  ElastiCache/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Added RDS Runbook
  rds/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @dpl-cg

Updated the mapping.json file for GRC mappings
  ecs/mapping.json
Owners: @open-itg/aws_playbook_core, @drcpcg

Added a newline at the end of the JSON file
  ecs/mapping.json
Owners: @open-itg/aws_playbook_core, @drcpcg

Updated mapping with changes related to comments
  ecs/mapping.json
Owners: @open-itg/aws_playbook_core, @drcpcg

Added a Service Display Name field
  ecs/mapping.json
Owners: @open-itg/aws_playbook_core, @drcpcg

Update RUNBOOK.md
  rds/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @dpl-cg

Update RUNBOOK.md
  rds/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @dpl-cg

Added DynamoDB Runbook (#43)
  dynamodb/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @dpl-cg

Added VPC Runbook
  vpc/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Added Glue Runbook
  glue/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Added Lake Formation Runbook
  lakeformation/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Update RUNBOOK.md
  ElastiCache/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Removed references to S3 for Flow Logs and NAT Gateway
  vpc/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Added Detective control to monitor for Data Lake Administrator changes
  lakeformation/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Adding lex basic runbook
  lex/RUNBOOK.md
  lex/mapping.json
Owners: @open-itg/aws_playbook_core

fixing header
  lex/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Fixing commiters
  lex/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

fixing links
  lex/RUNBOOK.md
  lex/mapping.json
Owners: @open-itg/aws_playbook_core

Added Lambda Runbook
  lambda/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Update Runbook.md
  emr/Runbook.md
Owners: @open-itg/aws_playbook_core, @chppcg

Update Runbook.md
  emr/Runbook.md
Owners: @open-itg/aws_playbook_core, @chppcg

Update Runbook.md
  emr/Runbook.md
Owners: @open-itg/aws_playbook_core, @chppcg

Update Runbook.md
  emr/Runbook.md
Owners: @open-itg/aws_playbook_core, @chppcg

Added Glue Runbook (#46)
  glue/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Initial creation of mapping readme
  docs/mapping.md
Owners: @open-itg/aws_playbook_core

Testing code blocks for mapping file
  docs/mapping.md
Owners: @open-itg/aws_playbook_core

Testing code blocks for mapping file
  docs/mapping.md
Owners: @open-itg/aws_playbook_core

Added Examples
  docs/mapping.md
Owners: @open-itg/aws_playbook_core

Updating runbook to add vpc and source account criteria
  lambda/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Fixing a formatting issue
  lambda/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Bolded some fields
  docs/mapping.md
Owners: @open-itg/aws_playbook_core

Merged master into branch
  docs/mapping.md
Owners: @open-itg/aws_playbook_core

System Manager Runbook
  Systems-Manager/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Bolded some fields
  docs/mapping.md
Owners: @open-itg/aws_playbook_core

Merged master into branch
  docs/mapping.md
Owners: @open-itg/aws_playbook_core

Added Examples
  docs/mapping.md
Owners: @open-itg/aws_playbook_core

CODEOWNERS:

*        @open-itg/aws_playbook_core

# ECS runbook reviewer
/ecs/ @open-itg/aws_playbook_core @drcpcg
# EKS runbook reviewer
/eks/ @open-itg/aws_playbook_core @drcpcg
# ECR playbook reviewer
/ecr @open-itg/aws_playbook_core @drcpcg 
# CodePipeline runbook reviewer
/codepipeline/ @open-itg/aws_playbook_core  @drcpcg
# CodeDeploy runbook reviewer
/codedeploy/ @open-itg/aws_playbook_core  @drcpcg
# CloudFormation runbook reviewer
/codedeformation/ @open-itg/aws_playbook_core  @drcpcg
# EC2 runbook reviewer
/ec2/ @open-itg/aws_playbook_core @shnccg
# EMR runbook reviewer
/emr/ @open-itg/aws_playbook_core @chppcg
# RDS runbook reviewer
/rds/ @open-itg/aws_playbook_core  @dpl-cg
# DynamoDB runbook reviewer
/dynamodb/ @open-itg/aws_playbook_core @dpl-cg
