Repository asifkd012020/open-itg-aws_runbooks, changes with the owners that CODEOWNERS names for each.
All owners: @open-itg/aws_playbook_core, @drcpcg, @shnccg, @chppcg, @dpl-cg

CODEOWNERS:

*        @open-itg/aws_playbook_core

# ECS runbook reviewer
/ecs/ @open-itg/aws_playbook_core @drcpcg
# EKS runbook reviewer
/eks/ @open-itg/aws_playbook_core @drcpcg
# ECR playbook reviewer
/ecr @open-itg/aws_playbook_core @drcpcg 
# CodePipeline runbook reviewer
/codepipeline/ @open-itg/aws_playbook_core  @drcpcg
# CodeDeploy runbook reviewer
/codedeploy/ @open-itg/aws_playbook_core  @drcpcg
# CloudFormation runbook reviewer
/codedeformation/ @open-itg/aws_playbook_core  @drcpcg
# EC2 runbook reviewer
/ec2/ @open-itg/aws_playbook_core @shnccg
# EMR runbook reviewer
/emr/ @open-itg/aws_playbook_core @chppcg
# RDS runbook reviewer
/rds/ @open-itg/aws_playbook_core  @dpl-cg
# DynamoDB runbook reviewer
/dynamodb/ @open-itg/aws_playbook_core @dpl-cg

[CLSEC-2587] Adding rule 13
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Adding rule 14
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Adding additional information
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Fixing bugs
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] format
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2578] Adding image
  docs/img/ecs/overview-fargate.png
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Fixing the issue with format
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Adding containers overiew and additional features of ECS in brief
  docs/img/ecs/container-agent.png
  docs/img/ecs/overview-containers.png
  docs/img/ecs/tasks-scheduling.png
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Adding containers overiew and additional features of ECS in brief
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

[CLSEC-2587] Cleanup and fix additional documentation
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

Updates to SRGM's ECS Runbook
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

updating references for moved sentinel policies
  ElastiCache/mapping.json
  Elasticsearch/mapping.json
  apigateway/mapping.json
  codebuild/mapping.json
  dynamodb/mapping.json
  ebs/mapping.json
  ec2/mapping.json
  ecs/mapping.json
  efs/mapping.json
  eks/mapping.json
  kinesis/mapping.json
  lambda/mapping.json
  rds/mapping.json
  s3/mapping.json
  sagemaker/mapping.json
Owners: @open-itg/aws_playbook_core, @dpl-cg, @shnccg, @drcpcg

Updated RDS Failover Section in Runbook
  docs/img/rds/failover.png
  rds/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @dpl-cg

Updated RDS Failover Section in Runbook
  rds/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @dpl-cg

Updated RDS Runbook
  rds/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @dpl-cg

All Lambda Requirements
  lambda/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Updated RDS Runbook
  rds/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @dpl-cg

Updated RDS Runbook
  rds/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @dpl-cg

Updated RDS Runbook and Mappig File
  rds/RUNBOOK.md
  rds/mapping.json
Owners: @open-itg/aws_playbook_core, @dpl-cg

key vaults runbook
  azure/KeyVault/Runbook.md
  azure/KeyVault/mapping.json
  azure/docs/img/kv/privatenetwork.png
Owners: @open-itg/aws_playbook_core

mapping file
  azure/KeyVault/mapping.json
Owners: @open-itg/aws_playbook_core

fixed line breaks
  azure/KeyVault/Runbook.md
Owners: @open-itg/aws_playbook_core

Added initial list and control links
  iam/Runbook.md
  iam/mapping.json
Owners: @open-itg/aws_playbook_core

Added details to Why
  iam/Runbook.md
Owners: @open-itg/aws_playbook_core

Added partial details to How
  iam/Runbook.md
Owners: @open-itg/aws_playbook_core

all content fixed
  lambda/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Complete Runbook
  lambda/mapping.json
Owners: @open-itg/aws_playbook_core

Complete Runbook
  lambda/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

updated the changes HCES-9138
  backup/Runbook.md
  backup/mapping.json
Owners: @open-itg/aws_playbook_core

updated the changes
  backup/Runbook.md
Owners: @open-itg/aws_playbook_core

runbooks and mapping files updated for CGBaseSecControlPolicy
  cloudtrail/Runbook.md
  cloudtrail/mapping.json
  config/Runbook.md
  config/mapping.json
  ebs/Runbook.md
  ebs/mapping.json
  ec2/RUNBOOK.md
  ec2/mapping.json
  kms/Runbook.md
  kms/mapping.json
  s3/RUNBOOK.md
  s3/mapping.json
Owners: @open-itg/aws_playbook_core, @shnccg

Edited verbage on services that are denied
  QuickSight/mapping.json
  appsync/mapping.json
Owners: @open-itg/aws_playbook_core

update runbook for mwaa
  mwaa/Runbook.md
  mwaa/mapping.json
Owners: @open-itg/aws_playbook_core

Added 5, 7 and incorporating feedback
  iam/Runbook.md
Owners: @open-itg/aws_playbook_core

update formating of mwaa runbook
  mwaa/Runbook.md
Owners: @open-itg/aws_playbook_core

Updates to Runbook Review materials
  ec2/RUNBOOK.md
  template/REVIEW_NOTES.md
  template/RUNBOOK_REVIEWS.md
Owners: @open-itg/aws_playbook_core, @shnccg

Updates to the Runbook Review documentation
  template/RUNBOOK_REVIEWS.md
Owners: @open-itg/aws_playbook_core

Added details to IAM runbook
  iam/Runbook.md
Owners: @open-itg/aws_playbook_core
