Repository asifkd012020/open-itg-aws_runbooks, changes with the owners that CODEOWNERS names for each.
All owners: @open-itg/aws_playbook_core, @drcpcg, @shnccg, @chppcg, @dpl-cg

Testing code blocks for mapping file
  docs/mapping.md
Owners: @open-itg/aws_playbook_core

Initial creation of mapping readme
  docs/mapping.md
Owners: @open-itg/aws_playbook_core

Testing code blocks for mapping file
  docs/mapping.md
Owners: @open-itg/aws_playbook_core

Added three new mapping files
  ecs/mapping.json
Owners: @open-itg/aws_playbook_core, @drcpcg

Added three new mapping files
  ec2/mapping.json
  ecr/mapping.json
  eks/mapping.json
Owners: @open-itg/aws_playbook_core, @shnccg, @drcpcg

Updates as requested by MTNP and SHNC
  ec2/mapping.json
  ecr/mapping.json
  ecs/mapping.json
  eks/mapping.json
Owners: @open-itg/aws_playbook_core, @shnccg, @drcpcg

Added mapping file for DynamoDB & RDS
  docs/mapping.md
  dynamodb/mapping.json
  rds/mapping.json
Owners: @open-itg/aws_playbook_core, @dpl-cg

Added mapping file for EMR
  emr/mapping.json
  rds/mapping.json
Owners: @open-itg/aws_playbook_core, @chppcg, @dpl-cg

Added mapping file for ElastiCache
  ElastiCache/mapping.json
Owners: @open-itg/aws_playbook_core

Added mapping file for AWS Glue
  glue/mapping.json
Owners: @open-itg/aws_playbook_core

Added lambda mapping file
  ElastiCache/mapping.json
  lambda/mapping.json
Owners: @open-itg/aws_playbook_core

Added mapping file for VPC
  vpc/mapping.json
Owners: @open-itg/aws_playbook_core

Added mapping files for codebuild, codepipeline and codedeploy
  codebuild/mapping.json
  codedeploy/mapping.json
  codepipeline/mapping.json
Owners: @open-itg/aws_playbook_core, @drcpcg

Updated mapping JSON, removed multiple severity mapping wont be needed.
  ElastiCache/mapping.json
  codebuild/mapping.json
  codedeploy/mapping.json
  codepipeline/mapping.json
  dynamodb/mapping.json
  ec2/mapping.json
  ecr/mapping.json
  ecs/mapping.json
  eks/mapping.json
  emr/mapping.json
  glue/mapping.json
  lambda/mapping.json
  rds/mapping.json
  vpc/mapping.json
Owners: @open-itg/aws_playbook_core, @drcpcg, @dpl-cg, @shnccg, @chppcg

Update RUNBOOK.md
  Systems-Manager/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Update RUNBOOK.md
  Systems-Manager/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Update RUNBOOK.md
  Systems-Manager/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Adding Runbook for AwsServiceName
  AwsServiceName/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Updated all mapping files with service provider and approvals fields
  ElastiCache/mapping.json
  codebuild/mapping.json
  codedeploy/mapping.json
  codepipeline/mapping.json
  dynamodb/mapping.json
  ec2/mapping.json
  ecr/mapping.json
  ecs/mapping.json
  eks/mapping.json
  emr/mapping.json
  glue/mapping.json
  lambda/mapping.json
  rds/mapping.json
  vpc/mapping.json
Owners: @open-itg/aws_playbook_core, @drcpcg, @dpl-cg, @shnccg, @chppcg

Fixed some spelling mistakes in mapping file
  ElastiCache/mapping.json
  codebuild/mapping.json
  codedeploy/mapping.json
  codepipeline/mapping.json
  dynamodb/mapping.json
  ec2/mapping.json
  ecr/mapping.json
  ecs/mapping.json
  eks/mapping.json
  emr/mapping.json
  glue/mapping.json
  lambda/mapping.json
  rds/mapping.json
  vpc/mapping.json
Owners: @open-itg/aws_playbook_core, @drcpcg, @dpl-cg, @shnccg, @chppcg

README.md
  sns
Owners: @open-itg/aws_playbook_core

Added S3 Runbook (#48)
  s3/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Adding the checklist services (#58)
  acm/Runbook.md
  acm/mapping.json
  alb/Runbook.md
  alb/mapping.json
  athena/Runbook.md
  athena/mapping.json
  cloudtrail/Runbook.md
  cloudtrail/mapping.json
  cloudwatch/Runbook.md
  cloudwatch/mapping.json
  config/Runbook.md
  config/mapping.json
  ebs/Runbook.md
  ebs/mapping.json
  efs/Runbook.md
  efs/mapping.json
  kinesis/Runbook.md
  kinesis/mapping.json
  kms/Runbook.md
  kms/mapping.json
  route53/Runbook.md
  route53/mapping.json
  sagemaker/Runbook.md
  sagemaker/mapping.json
  secretsmanager/Runbook.md
  secretsmanager/mapping.json
  ses/Runbook.md
  ses/mapping.json
  sns/Runbook.md
  sns/mapping.json
  sqs/Runbook.md
  sqs/mapping.json
Owners: @open-itg/aws_playbook_core

Added Lake Formation Runbook (#47)
  lakeformation/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Adding all the other missing services (#59)
  Elasticsearch/Runbook.md
  Elasticsearch/mapping.json
  Systems-Manager/mapping.json
  apigateway/Runbook.md
  apigateway/mapping.json
  backup/Runbook.md
  backup/mapping.json
  codeartifact/Runbook.md
  codeartifact/mapping.json
  cognito/Runbook.md
  cognito/mapping.json
  datapipeline/Runbook.md
  datapipeline/mapping.json
  datasync/Runbook.md
  datasync/mapping.json
  dms/Runbook.md
  dms/mapping.json
  eventbridge/Runbook.md
  eventbridge/mapping.json
  msk/Runbook.md
  msk/mapping.json
  redshift/Runbook.md
  redshift/mapping.json
  s3/mapping.json
  serverlessrepo/Runbook.md
  serverlessrepo/mapping.json
  stepfunctions/Runbook.md
  stepfunctions/mapping.json
Owners: @open-itg/aws_playbook_core

Adding mapping for lakeformation (#60)
  lakeformation/mapping.json
Owners: @open-itg/aws_playbook_core

adding missing services and shnc feedback (#61)
  budgets/Runbook.md
  budgets/mapping.json
  cloudformation/Runbook.md
  cloudformation/mapping.json
  cloudhsm/Runbook.md
  cloudhsm/mapping.json
  costexplorer/Runbook.md
  costexplorer/mapping.json
  detective/Runbook.md
  detective/mapping.json
  directconnect/Runbook.md
  directconnect/mapping.json
  guardduty/Runbook.md
  guardduty/mapping.json
  phd/Runbook.md
  phd/mapping.json
  s3/mapping.json
  sagemaker/mapping.json
  savingsplan/Runbook.md
  savingsplan/mapping.json
  securityhub/Runbook.md
  securityhub/mapping.json
  servicecatalog/Runbook.md
  servicecatalog/mapping.json
  support/Runbook.md
  support/mapping.json
  trustedadvisor/Runbook.md
  trustedadvisor/mapping.json
  xray/Runbook.md
  xray/mapping.json
Owners: @open-itg/aws_playbook_core

Update mapping.json
  serverlessrepo/mapping.json
Owners: @open-itg/aws_playbook_core

Removing unnecessary detail per SNIS feedback (#63)
  ec2/mapping.json
  ecr/mapping.json
  ecs/mapping.json
  eks/mapping.json
  emr/mapping.json
  glue/mapping.json
  lambda/mapping.json
  rds/mapping.json
  trustedadvisor/mapping.json
  vpc/mapping.json
Owners: @open-itg/aws_playbook_core, @shnccg, @drcpcg, @chppcg, @dpl-cg

Missed foundation naming
  cloudtrail/mapping.json
  kms/mapping.json
  ses/mapping.json
  vpc/mapping.json
Owners: @open-itg/aws_playbook_core

Initial QuickSight Runbook
  QuickSight/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

QuickSight Update #1
  QuickSight/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

QuickSight Update #2
  QuickSight/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Update #3
  QuickSight/RUNBOOK.md
  QuickSight/mapping.json
Owners: @open-itg/aws_playbook_core

Update #4
  QuickSight/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Update #5
  QuickSight/RUNBOOK.md
  docs/img/Detect.png
  docs/img/Monitor.png
  docs/img/Prevent.png
Owners: @open-itg/aws_playbook_core

Update #5
  QuickSight/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Update #6
  QuickSight/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Update #6
  QuickSight/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Update #6
  QuickSight/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

CODEOWNERS:

*        @open-itg/aws_playbook_core

# ECS runbook reviewer
/ecs/ @open-itg/aws_playbook_core @drcpcg
# EKS runbook reviewer
/eks/ @open-itg/aws_playbook_core @drcpcg
# ECR playbook reviewer
/ecr @open-itg/aws_playbook_core @drcpcg 
# CodePipeline runbook reviewer
/codepipeline/ @open-itg/aws_playbook_core  @drcpcg
# CodeDeploy runbook reviewer
/codedeploy/ @open-itg/aws_playbook_core  @drcpcg
# CloudFormation runbook reviewer
/codedeformation/ @open-itg/aws_playbook_core  @drcpcg
# EC2 runbook reviewer
/ec2/ @open-itg/aws_playbook_core @shnccg
# EMR runbook reviewer
/emr/ @open-itg/aws_playbook_core @chppcg
# RDS runbook reviewer
/rds/ @open-itg/aws_playbook_core  @dpl-cg
# DynamoDB runbook reviewer
/dynamodb/ @open-itg/aws_playbook_core @dpl-cg
