Repository asifkd012020/open-itg-aws_runbooks, changes with the owners that CODEOWNERS names for each.
All owners: @open-itg/aws_playbook_core, @drcpcg, @open-itg/codepipeline

Renamed Playbook to Runbook. Updated with CG Control Statements.
  codebuild/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Updated runbook with CG Controls
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

Renamed template to Runbook and added in CG controls
  template/AWS_PS_RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Renamed template to Runbook and added in CG controls (#31)
  template/AWS_PS_RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Update PLAYBOOK.md
  codedeploy/PLAYBOOK.md
Owners: @open-itg/aws_playbook_core

Update Table of contents
  codedeploy/PLAYBOOK.md
Owners: @open-itg/aws_playbook_core

Updated table of contents
  codedeploy/PLAYBOOK.md
Owners: @open-itg/aws_playbook_core

Updated table of contents
  codedeploy/PLAYBOOK.md
Owners: @open-itg/aws_playbook_core

Update PLAYBOOK.md
  codedeploy/PLAYBOOK.md
Owners: @open-itg/aws_playbook_core

Update PLAYBOOK.md
  codedeploy/PLAYBOOK.md
Owners: @open-itg/aws_playbook_core

Update PLAYBOOK.md
  codedeploy/PLAYBOOK.md
Owners: @open-itg/aws_playbook_core

Added further details based on feedback
  codebuild/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Added EKS Runbook
  eks/PLAYBOOK.md
  eks/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

Removing playbook, removing duplicates
  ecs/PLAYBOOK.md
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

Fixing runbook typo
  ecs/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

Updated CodeDeploy Runbook
  Runbook.md
Owners: @open-itg/aws_playbook_core

Moved Runbook to CodeDeploy folder
  Runbook.md
  codedeploy/PLAYBOOK.md
  codedeploy/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Uploading Runbook for New PR
  codepipeline/CodePipeline.md
Owners: @open-itg/codepipeline, @drcpcg

Updated Links
  codepipeline/CodePipeline.md
Owners: @open-itg/codepipeline, @drcpcg

Renamed File
  codepipeline/RUNBOOK.MD
Owners: @open-itg/codepipeline, @drcpcg

Updated TOC
  codepipeline/RUNBOOK.MD
Owners: @open-itg/codepipeline, @drcpcg

Updated Detective #2 with explicit statement
  eks/RUNBOOK.md
Owners: @open-itg/aws_playbook_core, @drcpcg

Initial GRC to Rule Mapping
  ecs/mapping.json
Owners: @open-itg/aws_playbook_core, @drcpcg

added VPCe limits
  codepipeline/RUNBOOK.MD
Owners: @open-itg/codepipeline, @drcpcg

HCEA-7063 - Glossary for runbook template
  template/AWS_PS_RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Added EC2 Runbook
  ec2/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Add files via upload
  Runbook.md
Owners: @open-itg/aws_playbook_core

Update Runbook.md
  Runbook.md
Owners: @open-itg/aws_playbook_core

HCEA-7061-Added-Runbook.md
  emr/Runbook.md
Owners: @open-itg/aws_playbook_core

Delete Runbook.md
  Runbook.md
Owners: @open-itg/aws_playbook_core

Adding detection for ensuring a CG repository is used
  codepipeline/RUNBOOK.MD
Owners: @open-itg/codepipeline, @drcpcg

Added link to CG Controls in non-applicable section
  ec2/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Adding detection for ensuring a CG repository is used (#40)
  codepipeline/RUNBOOK.MD
Owners: @open-itg/codepipeline, @drcpcg

Updated runbook with feedback from CG. Added instructions for Patch/Vuln Mgmt.
  ec2/RUNBOOK.md
Owners: @open-itg/aws_playbook_core

Update AWS_PS_RUNBOOK.md
  template/AWS_PS_RUNBOOK.md
Owners: @open-itg/aws_playbook_core

CODEOWNERS:

*        @open-itg/aws_playbook_core

# ECS playbook reviewer
/ecs/ @open-itg/aws_playbook_core @drcpcg
# EKS playbook reviewer
/eks/ @open-itg/aws_playbook_core @drcpcg
# ECR playbook reviewer
/ecr @open-itg/aws_playbook_core @drcpcg 
# CodePipeline playbook reviewer
codepipeline @open-itg/codepipeline @drcpcg
# CodeDeploy playbook reviewer
# CloudFormation playbook reviewer
